.overall {
  border-bottom: 1px solid black;
  display: flex;
  gap: 20px;
}
.overall img {
  margin-left: 150px;
  width: 300px;
  height: 150px;
}
.overall .each_div {
  align-items: center;
}
.review {
  margin-left: 50px;
}
.buttons {
  text-align: center;
  margin-bottom: 50px;
}
.buttons div {
  margin-bottom: 10px;
}
.buttons button {
  margin: 0px 5px;
}